body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  --topbar-height: 50px;
}

.page {
  text-align: center;
  padding-top: calc(var(--topbar-height) + 10px);
}

.page .content {
  display: inline-block;
}

.page_fullheight {
  height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
}

.content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

@media(min-width: 500px) {
  .content {
    width: 500px;
  }
}
