.NoteList {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.NoteList-add {
  background-color: #58A056;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  margin: 20px 0 0 calc(50% - 30px)
}