.Note {
  color: #222;
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px 20px 10px 10px;
  text-align: left;
  --box-shadow-color:rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 10px 0px var(--box-shadow-color);
  margin-bottom: 16px;
}

.Note-expanded {
  word-wrap: break-word;
  white-space:pre-wrap;
  --box-shadow-color: rgba(50, 228, 59, 0.8);;
}