.TopBar {
  position: fixed;
  width: 100%;
  text-align: center;
  height: var(--topbar-height);
  background-color: #222;
  color: white;
}

.TopBar .content {
  display: inline-block;
}

.TopBar-logo,
.TopBar-buttons {
  display: flex;
  align-items: center;
  height: 100%;
}

.TopBar-logo {
  float: left;
}

.TopBar-logo-picture {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.TopBar-logo-name {
  font-size: 1.5em;
}

.TopBar-buttons {
  float: right;
  font-size: 30px;
}

.TopBar-buttons > * {
  margin-left: 10px;
  height: 32px;
}

.TopBar-buttons .fa-edit {
  margin: 2px 0px 0 14px;
}

.TopBar-buttons .fa-trash{
  margin-top: -2px;
}